<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>

</head>
<body>
    
  <table class="body">
    <tr>
      <td>
                         <!-- MAINE HEAD -->

            <center class="hd-bg">
                <conteiner>
                  <spacer size="15"></spacer>
                  <row>
                    <columns  large="6">
                      <p class="tiny-text small-text-center">Some short preview of your email's content.</p>
                    </columns>

                    <columns  large="6">
                      <p class="text-right small-text-center"><a href="#" class="tiny-text sub-link">View this email in your browser</a></p>
                    </columns>
                  </row>
                
                <center><img src="https://gallery.mailchimp.com/ba8a96764e21d49482bb0c0eb/images/093fd2a2-0abb-47d7-9613-edbb329c952f.png" alt=""></center>
                  
                  <spacer size="30"></spacer>
                  <row>
                    <columns >
                      <h1 class="maine-h1 text-center small-text-center">SOME AWSOME HERO TEXT</h1>
                      <spacer size="30"></spacer>
                      <p class="text-center small-text-center tiny-text-p">Lorem ipsum dolor sit amet,<span class="text-style-white">consectetur adipisicing elit.</span> Expedita dolorum
                       perferendis fugiat debitis sit, harum saepe, excepturi iure aliquam, nostrum eius
                       quidem enim odit ipsa explicabo quasi <span class="text-style-white">dignissimos repellat Porro.</span></p>
                       <spacer size="40"></spacer>
                       <center>
                       <button href="#">ACTION BUTTON</button>
                       </center>
                       <spacer size="40"></spacer>
                    </columns>
                  </row>
              </conteiner>
            </center>
              

              <!--  *****************  1st body row  ***************  -->

            <center>
              <conteiner>
                    <row>
                      <columns small="12">
                        <spacer size="50"></spacer>
                        <h2 class="maine-h2 text-center small-text-center"> <spane class="text-style-orandge">Lorem ipsum dolor</spane> sit amet, consectetur adipisicing. 
                          debitis sit</h2>
                        <spacer size="30"></spacer>
                        <p class="text-center small-text-center maine-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <spacer size="30"></spacer>
                      </columns>
                    </row>

                    <row>

                      <columns small="12" large="6">
                        <center><img class="box-head-img" src="https://gallery.mailchimp.com/ba8a96764e21d49482bb0c0eb/images/29646286-261e-4307-93cd-e21b505e5fc7.png" alt="" /></center>
                        <p class="text-style-orandge text-center ">Lorem ipsum dolor sit</p>
                        <row>
                          <columns small="4" large="2"></columns>
                          <columns small="4" large="6">
                            <div class="dec-line"></div>
                          </columns>
                          <columns small="4" large="2"></columns>
                        </row>
                        <p class="info-box">Lorem ipsum dolor sit amet, elit. 
                        Eum nobis sed, distinctio, quisquam
                        sapiente a necessitatibus facere velit
                        assumenda ipsa natus. Quae itaque,  
                        minus perferendis.</p>
                      </columns>

                      <columns small="12" large="6">
                        <center><img class="box-head-img" src="https://gallery.mailchimp.com/ba8a96764e21d49482bb0c0eb/images/6021ca54-185c-462f-bbeb-ad824feada84.png" alt="" /></center>
                        <p class="text-style-orandge text-center ">Lorem ipsum dolor sit</p>
                        <row>
                          <columns small="4" large="2"></columns>
                          <columns small="4" large="6">
                            <div class="dec-line"></div>
                          </columns>
                          <columns small="4" large="2"></columns>
                        </row>
                        <p class="info-box">Lorem ipsum dolor sit amet, elit. 
                        Eum nobis sed, distinctio, quisquam
                        sapiente a necessitatibus facere velit
                        assumenda ipsa natus. Quae itaque,  
                        minus perferendis.</p>
                      </columns>

                    </row>
              </conteiner>
            </center>

          <!--  *****************  2nd body row  ***************  -->

            <center class="second-body-bg">
              <conteiner>
                  <row>
                    <columns small="12">
                      <spacer size="50"></spacer>
                      <h2 class="maine-h2 text-center small-text-center">  Lorem ipsum dolor sit amet</h2>
                      <spacer size="10"></spacer>
                      <p class="text-center small-text-center maine-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <spacer size="30"></spacer>
                    </columns>
                  </row>

                  <row>
                    <columns small="12" large="4">
                      <center><img class="box-head-img" src="https://gallery.mailchimp.com/ba8a96764e21d49482bb0c0eb/images/700341b9-697f-4266-8698-f390788d645c.png" alt="" /></center>
                      <p class="text-style-bold text-center ">Lorem ipsum </p>
                      <p class="info-box">Lorem ipsum dolor sit amet, elit. 
                              Eum nobis sed, distinctio, quisquam
                              sapiente a necessitatibus facere velit
                              assumenda ipsa natus. Quae itaque,  
                              minus perferendis.</p>
                    </columns>
                    <columns small="12" large="4">
                      <center><img class="box-head-img" src="https://gallery.mailchimp.com/ba8a96764e21d49482bb0c0eb/images/1ef3ef21-488a-4961-a42e-ade7d67a2246.png" alt="" /></center>
                      <p class="text-style-bold text-center ">Lorem ipsum </p>
                      <p class="info-box">Lorem ipsum dolor sit amet, elit. 
                      Eum nobis sed, distinctio, quisquam
                      sapiente a necessitatibus facere velit
                      assumenda ipsa natus. Quae itaque,  
                      minus perferendis.</p>
                    </columns>
                    <columns small="12" large="4">
                      <center><img class="box-head-img" src="https://gallery.mailchimp.com/ba8a96764e21d49482bb0c0eb/images/6a98d8cf-b3e0-4a01-a021-efc928b1ba34.png" alt="" /></center>
                      <p class="text-style-bold text-center ">Lorem ipsum </p>
                      <p class="info-box">Lorem ipsum dolor sit amet, elit.
                      Eum nobis sed, distinctio, quisquam
                      sapiente a necessitatibus facere velit
                      assumenda ipsa natus. Quae itaque,minus perferendis.</p>
                          </columns>
                        </row>
                      <spacer size="50"></spacer>
                </conteiner>
            </center>

           <!--  *****************  3d body row  ***************  --> 
            <center>
              <conteiner class="last">
                <spacer size="120"></spacer>
                <row>
                  <columns>
                  <center>
                    <button href="#" >ACTION BUTTON</button>
                  </center>

                  </columns>
                </row>
                <spacer size="100"></spacer>
              </conteiner>
            </center>
            
             <!--  *****************  footer  ***************  --> 

            <center class="foot-bg">
                <conteiner>
                <spacer size="30"></spacer>
                <row>
                  <columns small="4" large="2" class="soc-media"></columns>
                  <columns small="2" large="2" class="soc-media">
                      <center><a href="#"><img src="https://gallery.mailchimp.com/ba8a96764e21d49482bb0c0eb/images/6a384b6e-1d7b-4217-8c51-5e02b213aa44.png" alt="" /></a></center>
                  </columns>
                  <columns small="2" large="2" class="soc-media">
                      <center><a href="#"><img src="https://gallery.mailchimp.com/ba8a96764e21d49482bb0c0eb/images/08db8a77-3d26-424c-9297-b51ec589f0da.png" alt="" /></a></center>
                  </columns>
                  <columns small="2" large="2" class="soc-media">
                      <center><a href="#"><img src="https://gallery.mailchimp.com/ba8a96764e21d49482bb0c0eb/images/66a20f8e-6e4a-43d6-beb8-107156d247a7.png" alt="" /></a></center>
                  </columns>
                  <columns small="2" large="2" class="soc-media">
                      <center><a href="#"><img src="https://gallery.mailchimp.com/ba8a96764e21d49482bb0c0eb/images/9f09209f-619a-4b51-8ed7-c01760067743.png" alt="" /></a></center>
                  </columns>
                  <columns small="4" large="2" class="soc-media"></columns>
                  </row>
                  <spacer size="20"></spacer>
              </conteiner>
            </center>



      </td>
    </tr>
  </table>

</body>
</html>


